.optionsList {
    background: $blue;
    font-family: $font-strong;
    @include rem(font-size, 16px);
    margin: 36px auto 0;
    padding: 18px 12px;
    text-align: left;
    width: 85%;
    max-width: 490px;
    ul {
        li {
            margin-bottom: 12px;
            &:before {
                content: '➤';
                padding-right: 9px;
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        @include hover-state {
            text-shadow: 3px 3px rgba(black, 0.5);
        }
    }
    @media only screen and (min-width:$bp1) {
        margin: 30px auto 60px;
    }
}