.siteHeader {
    font-family: $font-headline;
    @include rem(font-size, 36px);
    min-height: 100vh;
    padding: 12px 0 72px;
    text-align: center;
    h1,
    strong {
        font-family: $font-strong;
        @include rem(font-size, 72px);
    }
    h1 {
        @media only screen and (max-width: $bp1 - 1px) {
            padding-left: 18px;
        }
    }
    .countdown {
        @media only screen and (min-width: 370px) {
            margin-bottom: 18px;
        }
    }
    .countdownNum {
        margin: 30px 0 12px;
        strong {
            @include border-step2( 6px, $yellow, white);
            background: $orange;
            display: inline-block;
            padding: 6px 18px;
        }
    }
    .siteLogo {
        @include hide-text;
        background: url(/img/sw.png) center center no-repeat;
        background-size: contain;
        height: 190px;
        .isSW & {
            background-image: url(/img/sw-now.png);
        }
    }
    .fancyBorder {
        font-family: $font-small;
        @include rem(font-size, 22px);
        margin-top: 72px;
        a {
            color: white;
            @include hover-state {
                color: $aqua;
            }
        }
    }
    @media only screen and (min-width:$bp1) {
        h1,
        .countdownWrapper {
            display: inline-block;
            vertical-align: top;
        }
        h1 {
            line-height: 180px;
        }
        .countdownWrapper {
            width: 50%;
            max-width: 380px;
        }
    }
    @media only screen and (min-height:800px) {
        padding-top: 60px;
        position: relative;
    }
}