.isSW {
    background: $purple;
    .ickleShark {
        display: block;
        margin: -20px auto 0;
    }
    #share {
        background: $orange;
    }
    #learn {
        > ul {
            background: $pink;
        }
        @media only screen and (min-width: 1260px) {
            background: $pink;
        }
    }
    #donate ul {
        background: $fuschia;
    }
    .siteFooter {
        color: rgba(white, 0.65);
        a {
            color: $aqua;
            @include hover-state {
                color: $periwinkle;
            }
        }
    }
    @media only screen and (max-width:599px) {
        .siteHeader {
            h1 {
                span {
                    display: block;
                }
            }
        }
    }
}