#listings {
    table {
        color: $offblack;
        width: 100%;
        tr {
            border-bottom: 1px solid rgba($grey, 0.3);
        }
        td[data-sig] {
            &:before,
            &:after {
                content: '';
                display: inline-block;
            }
        }
        td[data-sig*=prem] {
            &:before {
                background: url(/img/listing-prem.png) no-repeat;
                @include size(115px 50px);
            }
        }
        td[data-sig*=nty] {
            &:after {
                background: url(/img/listing-new.png) no-repeat;
                @include size(113px 56px);
            }
        }
        @media only screen and (max-width: 499px) {
            thead {
                display: none;
            }
            tr {
                display: block;
                td {
                    padding: 6px 3px;
                }
                &:hover,
                &:focus {
                    td[data-type=time],
                    td[data-type=title] {
                        background: $yellow;
                    }
                }
            }
            td[data-type=time],
            td[data-type=title] {
                display: inline-block;
                vertical-align: top;
            }
            td[data-type=time] {
                width: 120px;
            }
            td[data-type=title] {
                width: calc(100% - 120px);
            }
            $days: Sun,
            Mon,
            Tue,
            Wed,
            Thu,
            Fri,
            Sat;
            @for $i from 1 through length($days) {
                [data-day=#{nth($days, $i)}] {
                    td[data-type=day] {
                        border-bottom: 2px solid $magenta;
                        display: block;
                        font-family: $font-table;
                        @include rem(font-size, 24px);
                        line-height: 30px;
                        margin: 30px 0 9px;
                        text-align: center;
                        text-transform: uppercase;
                        strong {
                            font-weight: normal;
                        }
                    }
                    ~ [data-day=#{nth($days, $i)}] {
                        td[data-type=day] {
                            display: none;
                        }
                    }
                }
            }
            td[data-sig] {
                display: block;
            }
            td[data-sig=' '] {
                display: none;
            }
        }
        @media only screen and (min-width:500px) {
            thead {
                border-bottom: 2px solid $magenta;
                font-family: $font-table;
                @include rem(font-size, 24px);
                line-height: 30px;
                margin: 30px 0 9px;
                text-transform: uppercase;
            }
            tr {
                @include hover-state {
                    background: $yellow;
                }
            }
        }
        @media only screen and (min-width:500px) and (max-width:679px) {
            tr,
            td[data-sig] {
                display: block;
            }
            th,
            td {
                display: inline-block;
            }
            td {
                padding: 10px 0;
            }
            th:nth-child(1),
            td[data-type=day] {
                width: 20%;
            }
            th:nth-child(2),
            td[data-type=time] {
                width: 22%;
            }
            th:nth-child(3),
            td[data-type=title] {
                width: 55%;
            }
            th:nth-child(4) {
                display: none;
            }
            td[data-sig] {
                display: block;
                padding: 0;
                text-align: center;
                width: 100%;
            }
            td[data-sig=' '] {
                height: 0;
                padding: 0;
            }
        }
        @media only screen and (min-width:680px) {
            margin: 0 auto;
            max-width: 780px;
            td {
                height: 50px;
                padding: 0 6px;
                vertical-align: middle;
            }
            td[data-type=day],
            td[data-type=time] {
                white-space: nowrap;
            }
            td[data-sig] {
                min-width: 245px;
            }
        }
    }
}