#share {
	background: $magenta;
	padding: 30px 18px;
	.heading {
		@include rem(font-size, 30px);
		margin-bottom: 9px;
	}
	.socialWrapper {
		margin-top: 24px;
		text-align: center;
		li {
			display: inline-block;
			+ li {
				margin-left: 18px;
			}
		}
	}
	[class*='icon-'] {
		background: url(/img/sm-icons.png) no-repeat;
		display: inline-block;
		opacity: 0.85;
		@include size(100px);
		@include hover-state {
			opacity: 1;
		}
	}
	.icon-twitter {
		background-position: -130px 0;
	}
	.icon-fb {
		background-position: 0 0;
	}
	@media only screen and (min-width:$bp1) {
		padding-top: 54px;
		padding-bottom: 54px;
	}
	@media only screen and (min-width:1080px) {
		margin-left: 60px;
	}
}