@import 'animation',
'webfonts';
//http://www.colourlovers.com/palette/1157285/Bart_vs._the_Space_M
//http://www.colourlovers.com/palette/1156950/Burai_Fighter
$red: #DB2A09;
$pink: #F03060;
$magenta: #C42567;
$orange: #F38108;
$yellow: #F2C339;
//$lime: #30F030;
$lime: #5DE430;
$grass: #03AA04;
$aqua: #3CBEFC;
$periwinkle: #9591FF;
$blue: #0060F0;
$purple: #4300A2;
$fuschia: #BC02BD;
$grey: #666;
$offblack: #111;
$font-base: Share Tech Mono;
$font-headline: Flat20Headline;
$font-strong: JoystixMonospace-Regular; //Largest, nav font
$font-small: PexicoMicro-Regular;
$font-table: Pic0;
$bp1: 600px;
$bp2: 960px;
$bp3: 1260px;