.apfm-container {
	overflow-y: hidden;
}

.close-modal {
	background: $yellow;
	color: $offblack;
	font-family: $font-strong;
	@include rem(font-size, 48px);
	opacity: 0.8;
	position: fixed;
	text-align: center;
	transition: all 0.7s;
	vertical-align: middle;
	@include size(63px);
	&:before {
		content: 'X';
	}
	@include hover-state {
		border-radius: 50%;
		opacity: 1;
	}
}

.modal-content {
	height: 100vh;
	padding-top: 30px;
	overflow-y: auto;
	@media only screen and (min-width: 500px) {
		padding-top: 100px;
	}
}

.apfm-placeholder input:focus {
	outline: none;
}