.tv {
    $tv-height: 180px;
    position: relative;
    @include size(250px $tv-height);
    &:before,
    &:after {
        background: $grey;
        content: '';
        position: absolute;
        top: -40px;
        @include size(10px 22px);
    }
    &:before {
        left: 30%;
    }
    &:after {
        right: 30%;
    }
    .box {
        background: mix($offblack, white, 85%);
        @include border-step3( 6px, $grey, $offblack);
        @include size(100%);
        &:before,
        &:after {
            background: $grey;
            content: '';
            position: absolute;
            top: -58px;
            @include size(10px 22px);
        }
        &:before {
            left: 26%;
        }
        &:after {
            right: 28%;
        }
    }
    p {
        font-family: $font-strong;
        @include rem(font-size, 24px);
        height: $tv-height;
        line-height: 48px;
        padding: 0 6px;
        text-align: center;
    }
    @include hover-state {
        &:not(.blank) {
            cursor: pointer;
            .box {
                background: url(/img/tv1.png) repeat-y;
                background-size: contain;
            }
            p {
                background: url(/img/tv2.png) bottom center no-repeat;
                background-size: contain;
                color: black;
            }
        }
    }
}