@import 'libs/libs',
'settings/settings';
body {
    background: $offblack;
    color: white;
    font-family: $font-base;
}

ul {
    &,
    li {
        list-style: none;
        padding-left: 0;
    }
}

.heading {
    font-family: $font-headline;
}

@import 'modules/modules',
'layout/layout',
'main/main',
'sw-styles';